.castList {
  display: flex;
}

.castImg {
  width: 100%;
  height: 355px;
  object-fit: cover;
}
.castBlock {
  margin: 40px 0;
}
.castName {
  font-size: 18px;
  margin: 10px 0;
}
.castChar {
  margin: 5px 0;
  font-size: 14px;
  font-style: italic;
}

@media (max-width: 768px) {
  .castImg {
    height: 272px;
  }
}
@media (max-width: 650px) {
  .castImg {
    height: 220px;
  }
}
